<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
	<div class="container">
		<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
			<div class="col-first">
				<h1>Contact Us</h1>
				<nav class="d-flex align-items-center">
					<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
					<a href="category.html">Contact</a>
				</nav>
			</div>
		</div>
	</div>
</section>
<!-- End Banner Area -->
<section><br><br><br>

	<script type='text/javascript' src='https://www.google.com/jsapi'></script>

	<div align="center">
		<div id="visualization"> </div>
	</div>

	<script>
		google.load('visualization', '1', { 'packages': ['geochart'] });
		google.setOnLoadCallback(drawVisualization);

		function drawVisualization() {
			var data = google.visualization.arrayToDataTable([
				['State Code', 'State', 'Temperature'],
				['IN-UP', 'Uttar Pradesh', 33],
				['IN-MH', 'Maharashtra', 32],
				['IN-BR', 'Bihar', 31],
				['IN-WB', 'West Bengal', 32],
				['IN-MP', 'Madhya Pradesh', 30],
				['IN-TN', 'Tamil Nadu', 33],
				['IN-RJ', 'Rajasthan', 33],
				['IN-KA', 'Karnataka', 29],
				['IN-GJ', 'Gujarat', 34],
				['IN-AP', 'Andhra Pradesh', 32],
				['IN-OR', 'Orissa', 33],
				['IN-TG', 'Telangana', 33],
				['IN-KL', 'Kerala', 31],
				['IN-JH', 'Jharkhand', 29],
				['IN-AS', 'Assam', 28],
				['IN-PB', 'Punjab', 30],
				['IN-CT', 'Chhattisgarh', 33],
				['IN-HR', 'Haryana', 30],
				['IN-JK', 'Jammu and Kashmir', 20],
				['IN-UT', 'Uttarakhand', 28],
				['IN-HP', 'Himachal Pradesh', 17],
				['IN-TR', 'Tripura', 31],
				['IN-ML', 'Meghalaya', 21],
				['IN-MN', 'Manipur', 22],
				['IN-NL', 'Nagaland', 22],
				['IN-GA', 'Goa', 32],
				['IN-AR', 'Arunachal Pradesh', 33],
				['IN-MZ', 'Mizoram', 23],
				['IN-SK', 'Sikkim', 24],
				['IN-DL', 'Delhi', 31],
				['IN-PY', 'Puducherry', 33],
				['IN-CH', 'Chandigarh', 30],
				['IN-AN', 'Andaman and Nicobar Islands', 30],
				['IN-DN', 'Dadra and Nagar Haveli', 30],
				['IN-DD', 'Daman and Diu', 29],
				['IN-LD', 'Lakshadweep', 31]
			]);

			var stateUrlMap = {
				'IN-JK': '/single-blog/Jammu-and-Kashmir:-Majestic-Peaks-Ethical-Resilience-and-Timeless-Craftsmanship-1702987030583',
				'IN-MH': '/single-blog/Maharashtra: Diversity, Dazzle, and Cultural Kaleidoscope',
				// Add more state URLs as needed
			};

			var opts = {
				region: 'IN',
				domain: 'IN',
				displayMode: 'regions',
				colorAxis: { colors: ['#e5ef88', '#d4b114', '#e85a03'] },
				resolution: 'provinces',
				backgroundColor: '#81d4fa',
				datalessRegionColor: '#81d4fa',
				defaultColor: '#f5f5f5',
				width: 640,
				height: 480
			};

			var geochart = new google.visualization.GeoChart(document.getElementById('visualization'));

			// Set up event listener for the 'select' event
			google.visualization.events.addListener(geochart, 'select', function () {
				console.log('here');
				var selection = geochart.getSelection();
				if (selection.length > 0) {
					// Get the selected state code
					var stateCode = data.getValue(selection[0].row, 0);

					// Open the corresponding website for the selected state
					var stateUrl = stateUrlMap[stateCode];
					if (stateUrl) {
						window.open(stateUrl, '_blank');
					}
				}
			});

			geochart.draw(data, opts);
		};
	</script>

</section>
<!--================Contact Area =================-->
<section class="contact_area section_gap_bottom">
	<div class="container">
		<div id="mapBox" class="mapBox" data-lat="40.701083" data-lon="-74.1522848" data-zoom="13"
			data-info="PO Box CT16122 Collins Street West, Victoria 8007, Australia." data-mlat="40.701083"
			data-mlon="-74.1522848">
		</div>
		<div class="row">
			<div class="col-lg-3">
				<div class="contact_info">
					<div class="info_item">
						<i class="lnr lnr-home"></i>
						<h6>California, United States</h6>
						<p>Santa monica bullevard</p>
					</div>
					<div class="info_item">
						<i class="lnr lnr-phone-handset"></i>
						<h6><a href="#">00 (440) 9865 562</a></h6>
						<p>Mon to Fri 9am to 6 pm</p>
					</div>
					<div class="info_item">
						<i class="lnr lnr-envelope"></i>
						<h6><a href="#">support@colorlib.com</a></h6>
						<p>Send us your query anytime!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-9">
				<form class="row contact_form" action="contact_process.php" method="post" id="contactForm"
					novalidate="novalidate">
					<div class="col-md-6">
						<div class="form-group">
							<input type="text" class="form-control" id="name" name="name" placeholder="Enter your name"
								onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'">
						</div>
						<div class="form-group">
							<input type="email" class="form-control" id="email" name="email"
								placeholder="Enter email address" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Enter email address'">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" id="subject" name="subject"
								placeholder="Enter Subject" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Enter Subject'">
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
							<textarea class="form-control" name="message" id="message" rows="1"
								placeholder="Enter Message" onfocus="this.placeholder = ''"
								onblur="this.placeholder = 'Enter Message'"></textarea>
						</div>
					</div>
					<div class="col-md-12 text-right">
						<button type="submit" value="submit" class="primary-btn">Send Message</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
<!--================Contact Area =================-->